{block content}

<h1 n:block="title">My Albums</h1>

<p><a n:href="Edit:add">Add new album</a></p>

<table class="grid">
<tr>
	<th>Title</th>
	<th>Artist</th>
	<th>Actions</th>
</tr>

{* Loop through each album and display its details. *}
{foreach $albums as $album}
<tr>
	<td>{$album->title}</td>
	<td>{$album->artist}</td>
	<td>
		<a n:href="Edit:edit, $album->id">Edit</a>
		<a n:href="Delete:, $album->id">Delete</a>
	</td>
</tr>
{/foreach}
</table>
