# Application parameters and settings. See https://doc.nette.org/configuring

application:
	# Presenter mapping pattern
	mapping: App\Presentation\*\**Presenter


database:
	dsn: "sqlite:%rootDir%/data/demo.sqlite"


# Service registrations. See https://doc.nette.org/dependency-injection/services
services:
	- App\Model\Authenticator
	- App\Model\AlbumRepository
	- App\Core\RouterFactory::createRouter
