# Application parameters and settings. See https://doc.nette.org/configuring

application:
	# Presenter mapping pattern
	mapping:
		*: App\*Module\Presenters\*Presenter


database:
	dsn: "sqlite:%appDir%/Model/demo.db3"


# Service registrations. See https://doc.nette.org/dependency-injection/services
services:
	- App\Model\Authenticator
	- App\Model\AlbumRepository
	- App\Router\RouterFactory::createRouter
